set-list {
	color: #000;
	line-height: 150%;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-top: 50px;
	font-family: Optima, sans-serif;
	font-size: 20px;
}

l {
    display: block;
}


l:before {
    content: "";
}

title {
	font-size: 30px;
	font-weight: bold;
}

artist {
	font-size: 25px;
}